@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

html, input[type="button"], input[type="text"] {
    font-family: 'Karla', sans-serif;
    color: grey;
    font-size: large;
}

input{
    width: 100%;
    height: 40px;
}

#input{
    width: unset;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#inputTD{
    padding-bottom: 20px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

table {
    padding: 30px 10px 20px 10px;
    background: rgba(177, 194, 199, 0.856);
    box-shadow: 5px 8px 20px 0 rgba( 31, 38, 135, 0.57 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 2px solid rgba( 255, 255, 255, 0.18 );
    
}

input[type="button"]{
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 5px 8px 20px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input[type="button"]:hover{
    background: rgba(145, 145, 145, 0.801);
    box-shadow: 5px 8px 20px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input[type="text"]{
    padding-left: 15px;
}

td{
    padding: 7px;
}

.move{
    position: absolute;
    top: -50px;
    right: -35px;
    z-index: 9;
    padding: 10px;
    background-color: rgba(195, 225, 235, 0.466);
    border-radius: 10px;
}

.cont{
    position: relative;
}